<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.lukasschneider.day42_fade_in_and_placeholder">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
